    <?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS_PATH" value="${catalina.base:-.}/logs"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DAILY_ROLLING_FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_PATH}/logback.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

            <fileNamePattern>${LOGS_PATH}/logback.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>

            <!-- Each file should be at most 100MB, keep 60 days worth of history, but at most 1GB -->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <springProfile name="dev">
        <logger name="pro.antdev.springboot" level="DEBUG" additivity="false">
            <appender-ref ref="DAILY_ROLLING_FILE_APPENDER"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="prd">
        <logger name="pro.antdev.springboot" level="INFO" additivity="false">
            <appender-ref ref="DAILY_ROLLING_FILE_APPENDER"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

</configuration>